#name, #email, #password, #dob {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: right;
     width: 60%;
}
label {
    border-radius: 5px;
    float: left;
    width: 20%;
}
#submit {
    float: right;
    position: static;
}
/* .c20 {
        border-radius: 5px;
    float: right;
    width: 20%;
}
.c60 {
        border-radius: 5px;
    float: right;
    width: 60%;
} */